<div class="dashboard">
  <div class="welcome">
    <div>
      <h1>Hoş geldiniz</h1>

      @if (user(); as currentUser) {
        <p>{{ currentUser.fullName }}</p>
      }
    </div>
  </div>

  <div class="dashboard-grid">
    <p-card>
      <div class="dashboard-card">
        <i class="pi pi-user"></i>
        <div>
          <span>Kullanıcı</span>
          @if (user(); as currentUser) {
            <strong>{{ currentUser.userName }}</strong>
          }
        </div>
      </div>
    </p-card>

    <p-card>
      <div class="dashboard-card">
        <i class="pi pi-shield"></i>
        <div>
          <span>Roller</span>
          @if (user(); as currentUser) {
            <strong>{{ currentUser.roles.join(', ') }}</strong>
          }
        </div>
      </div>
    </p-card>

    <p-card>
      <div class="dashboard-card">
        <i class="pi pi-key"></i>
        <div>
          <span>Yetki Sayısı</span>
          @if (user(); as currentUser) {
            <strong>{{ currentUser.permissions.length }}</strong>
          }
        </div>
      </div>
    </p-card>
  </div>
</div>
